.float-left {
    float: left;
    margin-right: 10px; /* 添加一些右侧空间 */
}
.float-right {
    float: right;
    margin-right: 10px; /* 添加一些右侧空间 */
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}